@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f5f7fb;
  padding-left: 2rem;
  padding-right: 2rem;
}
.amplify-button[data-variation='primary'] {
  background: #03c988 !important;
}
